/* GLOBAL STYLES */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input[type="checkbox"] {
  opacity: 0;
  z-index: 5000;
}

@font-face {
  font-family: "Ruhle-Reg";
  src: url("./fonts/FrankRuhlLibre-Regular.ttf");
}

@font-face {
  font-family: "Ruhle-Med";
  src: url("./fonts/FrankRuhlLibre-Medium.ttf");
}

@font-face {
  font-family: "Vibes";
  src: url("./fonts/GreatVibes-Regular.ttf");
}

html {
  font-size: 62.5%;
  --h1-size: calc(2rem + 1vw);
  --h2-size: calc(3.5rem + 1vw);
  --h3-size: calc(3rem + 1vw);
  --h4-size: calc(2.4rem + 1vw);
  --text-size: calc(1.5rem + 1vw);
  --big-size: calc(2.4rem + 1vw);
  --maroon-color: #906272;
  --background-color: #414141;
  --primary-color: black;
  --secondary-color: #525252;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

h1 {
  font-size: var(--h1-size);
}

h2 {
  font-size: var(--h2-size);
  font-weight: 500;
}

h3 {
  font-size: var(--h3-size);
}

h4,
h5 {
  font-size: var(--h4-size);
}

li,
button,
label,
input,
a,
p {
  font-size: var(--text-size);
}

.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body {
  font-family: "Ruhl";
  animation: fade-in 1s ease-in-out;
}

h1 {
  font-family: "Vibes";
}

/* NAV */

.main-head {
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  position: relative;
}

nav {
  width: 90vw;
  margin: auto;
  display: flex;
  align-items: center;
  min-height: 10vh;
  padding: 2rem 0rem;
}

#logo {
  flex: 1 1 20rem;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  flex: 1 1 20rem;
}

.hero {
  width: 100vw;
  min-height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
  overflow: hidden;
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 2 1 40rem;
  height: 90vh;
}

.intro p {
  padding: 5rem 10rem;
  margin: 3%;
}


#gallery-button {
  padding: 2rem 8rem;
  border: 3px solid black;
}

.hero-images {
  flex: 1 1 40rem;
  position: relative;
  min-height: 90vh;
  background: linear-gradient(#dad8dd, #dad1d4);
  z-index: -2;
}

#hero-girl {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.plant {
  position: absolute;
  bottom: 0;
  left: -20%;
  z-index: -1;
  animation: plant-entrance 1.5s ease-in-out forwards,
    plant-sway 2.5s infinite alternate-reverse 1.5s;
  transform-origin: bottom;
}

.plant2 {
  left: 40%;
}

/* ANIMATIONS */

@keyframes fade-in {
  from {
    opacity: 0.1;
  }
  to {
    opacity: 1;
  }
}

@keyframes plant-entrance {
  from {
    transform: translateY(10%) rotateZ(-10deg) rotateX(-40deg);
  }
  to {
    transform: translateY(0%) rotateZ(0deg) rotateX(0deg);
  }
}

@keyframes plant-sway {
  from {
    transform: rotateZ(-5deg);
  }
  to {
    transform: rotateZ(0deg);
  }
}

/* MEDIA QUERIES */

@media screen and (max-width: 842px) {
  .intro {
    min-height: 90vh;
    flex-direction: column;
    align-items: center;
  }

  .intro p {
    padding-left: 5rem;
    padding-right: 5rem;
  }

  .intro h2 {
    padding-top: 7rem;
  }
  .hero-images {
    min-height: 100vh;
  }

  .hamburger span {
    padding: 0.2rem 2rem;
    background: var(--secondary-color);
    margin: 0.5rem 0rem;
    display: block;
    transition: all 0.5s ease;
  }

  .nav-links a {
    color: white;
    font-size: var(--h3-size);
  }

  .nav-links {
    background: var(--background-color);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 100%;
    flex-direction: column;
    align-items: center;
    transition: transform 1s ease;
  }

  .menu-check {
    cursor: pointer;
    width: 5rem;
    height: 5rem;
    position: absolute;
    right: 4.2vw;
  }

  .hamburger{
    z-index: 500;
  }

  .menu-check:checked + .nav-links {
    transform: translate(-100%);
  }
  .menu-check:checked ~ .hamburger span{
    background-color: white;
  }
  .menu-check:checked ~ .hamburger span:nth-child(1){
    transform: rotateZ(45deg) translateY(300%);
  }
  .menu-check:checked ~ .hamburger span:nth-child(3){
    transform: rotateZ(-45deg) translateY(-300%);
  }
  .menu-check:checked ~ .hamburger span:nth-child(2){
    opacity: 0;
  }
}
